<c-card class="p-4">
    <c-card-header class="text-center">
        <h3>User's Details based on input number plate</h3>
    </c-card-header>

    <c-card-body>
        <c-row class="">
            <c-col class="mt-3">
                <img class="image" src="/src/assets/images/brand/coreui-angular.svg" alt="Image of what idont know">
            </c-col>

           
            <c-col class="detali">
                <c-row class="mb-3">
                    <label cLabel="col" class="col-sm-2" for="name" >
                      Name: 
                    </label>
                    <c-col [sm]="8">
                      <input cFormControl id="name" type="text" formControlName="name" />
                    </c-col>
                  </c-row>
                  <c-row class="mb-3">
                    <label cLabel="col" class="col-sm-2" for="inputPassword">
                      Contact: 
                    </label>
                    <c-col [sm]="8">
                      <input cFormControl id="inputPassword" type="text" readonly/>
                    </c-col>
                  </c-row>

                  <c-row class="mb-3">
                    <label cLabel="col" class="col-sm-2" for="inputPassword">
                      Email: 
                    </label>
                    <c-col [sm]="8">
                      <input cFormControl id="inputPassword" type="text" formControlName="email" />
                    </c-col>
                  </c-row>

                  <c-row class="mb-3">
                    <label cLabel="col" class="col-sm-2" for="inputPassword">
                      Address: 
                    </label>
                    <c-col [sm]="8">
                      <input cFormControl id="inputPassword" type="text" formControlName="address" />
                    </c-col>
                  </c-row>

                  <c-row class="mb-3">
                    <label cLabel="col" class="col-sm-2" for="inputPassword">
                      Citizenship No: 
                    </label>
                    <c-col [sm]="8">
                      <input cFormControl id="inputPassword" type="text" formControlName="citizenshipNo"/>
                    </c-col>
                  </c-row>
            </c-col>
        </c-row>
    </c-card-body>

    <c-card-footer>
        <h3>Check Status  <mat-icon  fontIcon="check-circle"></mat-icon></h3>
        

        <svg cIcon name="cilcheckcircle" size="xl" title=""></svg>
    </c-card-footer>
</c-card>