<c-card class="p-4">

  <form cForm class="">

    <c-col [md]="6">
      <label cLabel for="citizenshipNo">Select Image Of Number Plate</label>
      <input class="text-center" cFormControl id="citizenshipNo" name="citizenshipNo" formControlName="citizenshipNo"
             type="file" placeholder="choose"/>
    </c-col>

    <c-col class="text-center mt-3">
      <label cLabel for="idd">Select Image</label>
      <input class="text-center img" cFormControl
             value="Image of Number Plate"/>
    </c-col>
    <c-col class="mt-3 mr-4" align="end">
      <button cButton color="primary" type="submit" [routerLink]="'/home/plate-scan-process'">Process</button>
    </c-col>
  </form>
</c-card>
