.selected-image {
   border: 1px solid gray;
    height: 350px; /* Adjust the desired height */
    width: 600px; /* Adjust the desired width */
    margin-left: 20rem;
  }
  
  .displayed-image {
    max-height: 100%;
    max-width: 100%;
  }

