<c-row class="justify-content-center">
  <c-col [lg]="">
    <c-card class="mb-3 p-4">
      <c-card-body class="bg-gradient text-center">
        <div class="button-container">
          <button cButton (click)="getUserBasicDetails()" color="primary" variant="outline" class="shadow my-2">
            Kyc Update
          </button>
          <button cButton color="primary" variant="outline" class="shadow my-2" (click)="generateAndShowQrCode()">
            Generate QR
          </button>
        </div>
      </c-card-body>

      <c-card-body class="bg-gradient text-center">
        <div class="button-container">
          <button cButton color="primary" variant="outline" class="shadow my-2">Licenses</button>
          <button cButton color="primary" variant="outline" class="shadow my-2">Blue Book</button>
        </div>
      </c-card-body>

      <c-card class="mt-5 text-center">
        <div class="mt-3">
          <h2>List of Traffic Rule Violations and Fines in Nepal 2023.</h2>
        </div>
        <c-accordion>
          <c-accordion-item #item0="cAccordionItem" [visible]="true">
            <ng-template cTemplateId="accordionHeaderTemplate">
              <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                <strong>Fine : Rs500</strong>
              </button>
            </ng-template>
            <ng-template cTemplateId="accordionBodyTemplate">
              <div class="accordion-body">
                <ul style="text-align: left;" class="py-2">
                  <ul>
                    <li>You will be fined if you are not wearing a helmet while riding a motorbike or not wearing
                      seat-belts while driving four-wheelers.
                    </li>
                    <li>Carrying passengers on the roof of your vehicles.</li>
                    <li>Overload: You are not allowed to carry load beyond the capacity.</li>
                    <li>Using vehicles against the permit that you have been issued.</li>
                    <li>Reckless driving and posing a threat to other people.</li>
                    <li>Obstructing the road.</li>
                  </ul>
                </ul>
              </div>
            </ng-template>
          </c-accordion-item>


          <c-accordion-item #item1="cAccordionItem" [visible]="true">
            <ng-template cTemplateId="accordionHeaderTemplate">
              <button (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
                <strong>Fine : Rs1000</strong>
              </button>
            </ng-template>
            <ng-template cTemplateId="accordionBodyTemplate">
              <div class="accordion-body">
                <ul style="text-align: left;" class="py-2">

                  <ul>
                    <li>Driving under the influence of alcoholic drink.</li>
                    <li>Random Parking vehicles in public places.</li>
                    <li>You will be fined if you are caught driving without a license or letting someone use your
                      vehicle who doesn’t have a license.
                    </li>
                    <li>Involvement in accidents or fleeing after an accident.</li>
                  </ul>
                </ul>
              </div>
            </ng-template>
          </c-accordion-item>


          <c-accordion-item #item2="cAccordionItem" [visible]="true">
            <ng-template cTemplateId="accordionHeaderTemplate">
              <button (click)="item2.toggleItem()" [collapsed]="!item2.visible" cAccordionButton>
                <strong>Fine : Rs1000</strong>
              </button>
            </ng-template>
            <ng-template cTemplateId="accordionBodyTemplate">
              <div class="accordion-body">
                <ul style="text-align: left;" class="py-2">
                  <ul>
                    <li>Obey the traffic signs or get yourself fined for disregarding traffic signs.</li>
                    <li>Wrong lane driving.</li>
                    <li>Driving a public vehicle without a route permit from the concerned authorities.</li>
                    <li>Taking more fare from passengers than you are supposed to.</li>
                    <li>Over Speeding.</li>
                    <li>Driving in prohibited areas.</li>
                    <li>Driving without turning your lights on during night time.</li>
                    <li>Refusing to take in passengers in public vehicles.</li>
                  </ul>
                </ul>
              </div>
            </ng-template>
          </c-accordion-item>
        </c-accordion>

      </c-card>
      <!-- <c-pagination align="end" aria-label="Page navigation example mt-4">
        <li cPageItem>
          <a cPageLink [routerLink]="">Previous</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]="">1</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]="">2</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]="">3</a>
        </li>
        <li cPageItem>
          <a cPageLink [routerLink]="">Next</a>
        </li>
      </c-pagination> -->
    </c-card>
  </c-col>
</c-row>


<!-- model pop -->

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <form cForm [formGroup]="form" (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <c-modal-header>
      <h3 cModalTitle>Kyc Update </h3>
      <button color="primary" cButton id="kycStatusInfo" [textContent]="getKycStatus()"></button>
      <button cButtonClose type="button" (click)="closeKycForm()"></button>
    </c-modal-header>
    <c-modal-body>
      <!-- form field -->
      <div class="mb-3">
        <label cLabel for="name">Name:<sup>*</sup></label>
        <input cFormControl id="name" name="name" formControlName="name" type="text" placeholder="Enter Name">
      </div>

      <div class="mb-3">
        <label cLabel for="email">Email:<sup>*</sup></label>
        <input cFormControl id="email" name="email" type="email" formControlName="email" placeholder="Enter Email"
          readonly>
      </div>

      <div class="mb-3">
        <label cLabel for="contact">Contact:<sup>*</sup></label>
        <input cFormControl id="contact" name="contact" formControlName="contact" type="text"
          placeholder="Enter Contact No:" readonly>
      </div>

      <div class="mb-3">
        <label cLabel for="address">Address:<sup>*</sup></label>
        <input cFormControl id="address" name="address" formControlName="address" type="text"
          placeholder="Enter Address">
      </div>

      <div class="mb-3">
        <label cLabel for="formFileMultiple">Pasportsize Photo</label>
        <input cFormControl id="formFileMultiple" name="profilePicture" formControlName="profilePicture" multiple
          type="file" (change)="uploadImage($event, 'profilePicture')" />
      </div>

      <div class="mb-3">
        <label cLabel for="address">Citizen Number:<sup>*</sup></label>
        <input cFormControl id="citizenshipNo" name="citizenshipNo" formControlName="citizenshipNo" type="text"
          placeholder="Enter Address">
      </div>

      <c-card-body>
        <h5>Upload Given Information</h5>
        <div class="mb-3">
          <label cLabel for="citizenshipFont">Citizenship Front:<sup>*</sup></label>
          <input cFormControl id="citizenshipFont" name="citizenshipFont" formControlName="citizenshipFont" type="file"
            (change)="uploadImage($event, 'citizenshipFont')" />
        </div>
        <div class="mb-3">
          <label cLabel for="citizenshipBack">Citizenship Back:<sup>*</sup></label>
          <input cFormControl id="citizenshipBack" name="citizenshipBack" formControlName="citizenshipBack" type="file"
            (change)="uploadImage($event, 'citizenshipBack')" />
        </div>
      </c-card-body>
      <!-- end form -->
    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" type="submit" (click)="closeKycForm()">
        Close
      </button>
      <button type="submit" cButton color="primary" [disabled]="isFormDisabled()">Save changes</button>
    </c-modal-footer>
  </form>
</c-modal>

<!-- qr code model start -->
<button [cModalToggle]="verticallyCenteredModal.id" cButton>Centered modal</button>
<c-modal #verticallyCenteredModal alignment="center" id="pictureShowUpModal" [visible]="isQrCodeGenerateModuleVisible"
  (visibleChange)="handleQrCodeChange($event)">
  <c-modal-header>
    <h3 cModalTitle>QR Code Generate</h3>
    <button [cModalToggle]="verticallyCenteredModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <img class="image-show-modal" src="./assets/img/avatars/10.png" alt="">
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary">Download</button>
  </c-modal-footer>
</c-modal>
<!-- qr code model end -->
