.my-2 {
  margin: 2.5rem;
}

c-card-body img {
  height: 300px;
  width: 400px;
  border: 1px solid rgb(161, 73, 73);
}

#email, #contact {
  background-color: #d9e3f8;
}

sup {
  color: red;
  font-size: 13px;
}

#kycStatusInfo {
  margin-left: 45%;
  font-size: 16px;
  text-align: right;
}

li {
  font-size: 17px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.my-2 {
  padding: 12px 24px;
  font-size: 20px;
  width: 300px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-show-modal {
  max-width: 100%;
  max-height: 100%;
  alignment: center;
}
