<c-row class="justify-content-center mt-1">
  <c-col [lg]="">
    <c-card class="mb-3 p-4">

      <c-card-body class="bg-gradient text-center">
        <button cButton (click)="getUserBasicDetails()" color="primary" variant="outline" class="shadow my-2">
          Kyc Update
        </button>
        <button cButton color="primary" variant="outline" class="shadow my-2">Generate QR</button>
      </c-card-body>

      <c-card-body class="bg-gradient text-center">
        <button cButton color="primary" variant="outline" class="shadow my-2">Licenses</button>
        <button cButton color="primary" variant="outline" class="shadow my-2">Blue Book</button>
      </c-card-body>

      <c-card class="mt-4 text-center">
        <c-card-body class="bg-gradient text-center">
          <!--          <img src="assets/images/brand/coreui-angular.svg">-->
        </c-card-body>

      </c-card>
    </c-card>
  </c-col>

</c-row>


<!-- model pop -->

<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <form cForm [formGroup]="form" (ngSubmit)="submitForm()" enctype="multipart/form-data">
    <c-modal-header>
      <h3 cModalTitle>Kyc Update </h3>
      <p id="kycStatusInfo" [textContent]="getKycStatus()" [style.color]="kycStatusTextColor"></p>
      <button cButtonClose type="button" (click)="closeKycForm()"></button>
    </c-modal-header>
    <c-modal-body>
      <!-- form field -->
      <div class="mb-3">
        <label cLabel for="name">Name:<sup>*</sup></label>
        <input cFormControl id="name" name="name" formControlName="name" type="text" placeholder="Enter Name">
      </div>

      <div class="mb-3">
        <label cLabel for="email">Email:<sup>*</sup></label>
        <input cFormControl id="email" name="email" type="email" formControlName="email" placeholder="Enter Email"
               readonly>
      </div>

      <div class="mb-3">
        <label cLabel for="contact">Contact:<sup>*</sup></label>
        <input cFormControl id="contact" name="contact" formControlName="contact" type="text"
               placeholder="Enter Contact No:" readonly>
      </div>

      <div class="mb-3">
        <label cLabel for="address">Address:<sup>*</sup></label>
        <input cFormControl id="address" name="address" formControlName="address" type="text"
               placeholder="Enter Address">
      </div>

      <div class="mb-3">
        <label cLabel for="formFileMultiple">Pasportsize Photo</label>
        <input cFormControl id="formFileMultiple" name="profilePicture" formControlName="profilePicture" multiple
               type="file" (change)="uploadImage($event, 'profilePicture')"/>
      </div>

      <div class="mb-3">
        <label cLabel for="address">Citizen Number:<sup>*</sup></label>
        <input cFormControl id="citizenshipNo" name="citizenshipNo" formControlName="citizenshipNo" type="text"
               placeholder="Enter Address">
      </div>

      <c-card-body>
        <h5>Upload Given Information</h5>
        <div class="mb-3">
          <label cLabel for="citizenshipFont">Citizenship Front:<sup>*</sup></label>
          <input cFormControl id="citizenshipFont" name="citizenshipFont" formControlName="citizenshipFont"
                 type="file" (change)="uploadImage($event, 'citizenshipFont')"/>
        </div>

        <div class="mb-3">
          <label cLabel for="citizenshipBack">Citizenship Back:<sup>*</sup></label>
          <input cFormControl id="citizenshipBack" name="citizenshipBack" formControlName="citizenshipBack"
                 type="file" (change)="uploadImage($event, 'citizenshipBack')"/>
        </div>

      </c-card-body>
      <!-- end form -->
    </c-modal-body>
    <c-modal-footer>
      <button cButton color="secondary" type="submit" (click)="closeKycForm()">
        Close
      </button>
      <button type="submit" cButton color="primary" [disabled]="isFormDisabled()">Save changes</button>
    </c-modal-footer>
  </form>
</c-modal>

