<div class="mt-4 side">
    <form cForm [formGroup]="forecastForm">
        <c-row>
            <c-row class="mt-3">
                <label cLabel="col" class="">Direction File :</label>
                <c-col [sm]="4">
                    <input type="file" cFormControl (change)="onFileChange($event)" />
                </c-col>
            </c-row>

            <c-row class="mt-3">
                <label cLabel="col" class="">Forecast Date:</label>
                <c-col [sm]="4">
                    <input type="date" cFormControl formControlName="date" />
                    <div *ngIf="forecastForm.get('date')?.invalid && forecastForm.get('date')?.touched"
                        class="text-danger">
                        <div *ngIf="forecastForm.get('date')?.errors?.['required'] && forecastForm.get('date')?.touched" class="text-danger">
                            Date is required.
                        </div>
                    </div>
                </c-col>
            </c-row>
            <c-row class="mt-3">
                <label cLabel="col" class="">Time Interval :</label>
                <c-col [sm]="4">
                    <input type="text" cFormControl formControlName="timeInterval" />
                </c-col>
            </c-row>
            <c-col class=" mt-4 btns">
                <!-- <button cButton [cModalToggle]="modalLg.id" color="success" onclick="onForecast()">Forecast</button> -->
                <button class="bigbot" cButton [cModalToggle]="fullScreen.id" color="success"
                    (click)="onForecast()">Forecast Data </button>
                <button style="margin-left: 10px;" cButton color="primary" (click)="resetData()"> Reset Data</button>
            </c-col>
        </c-row>
    </form>

    <!--Small model-->
    <c-modal #modalLg id="modalLg" size="lg">
        <c-modal-header>
            <h5 cModalTitle>Large modal</h5>
        </c-modal-header>
        <c-modal-body>...</c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="modalLg.id" cButton>Close</button>
        </c-modal-footer>
    </c-modal>

    <!--Big model-->
    <c-modal #fullScreen [fullscreen]="true" id="fullScreen">
        <c-modal-header>
            <h4 class="mapTitle" cModalTitle>Leaflet Map</h4>
        </c-modal-header>
        <c-modal-body>
            <div id="map" style="height: 100%;"></div> <!-- Container for the Leaflet map -->
        </c-modal-body>
        <c-modal-footer>
            <div class="footer-content">
                <div class="marker-container">
                    <div class="marker-item">
                        <img src="assets/images/marker/blue-marker.svg" alt="Blue Marker" class="marker" />
                        <span>Blue</span>
                    </div>
                    <div class="marker-item">
                        <img src="assets/images/marker/green-marker.svg" alt="Green Marker" class="marker" />
                        <span>Green</span>
                    </div>
                    <div class="marker-item">
                        <img src="assets/images/marker/red-marker.svg" alt="Red Marker" class="marker" />
                        <span>Red</span>
                    </div>
                    <div class="marker-item">
                        <img src="assets/images/marker/yellow-marker.svg" alt="Yellow Marker" class="marker" />
                        <span>Yellow</span>
                    </div>
                </div>
                <button cButton [cModalToggle]="fullScreen.id">Close</button>
            </div>
        </c-modal-footer>


    </c-modal>

</div>