<div class="ml-4 side">
    <form cForm>
        <c-row>
            <c-row class="mt-3">
                <label cLabel="col" class="col-sm-1">Browse :</label>
                <c-col [sm]="4">
                    <input type="file" cFormControl />
                </c-col>
            </c-row>

            <c-row class="mt-3">
                <label cLabel="col" class="col-sm-1">Day :</label>
                <c-col [sm]="4">
                    <input type="text" cFormControl placeholder="dd/mm/yyyy" />
                </c-col>
            </c-row>
            <c-row class="mt-3">
                <label cLabel="col" class="col-sm-1">Time Interval :</label>
                <c-col [sm]="4">
                    <input type="text" cFormControl />
                </c-col>
            </c-row>
            <c-col class=" mt-4 btns">
                <button cButton [cModalToggle]="modalLg.id" color="success">Forecast</button>
                <button class="bigbot" cButton [cModalToggle]="fullScreen.id" color="success">Forecast In Big
                    Mode</button>
            </c-col>
        </c-row>
    </form>

    <!--Small model-->
    <c-modal #modalLg id="modalLg" size="lg">
        <c-modal-header>
            <h5 cModalTitle>Large modal</h5>
        </c-modal-header>
        <c-modal-body>...</c-modal-body>
        <c-modal-footer>
            <button [cModalToggle]="modalLg.id" cButton>Close</button>
        </c-modal-footer>
    </c-modal>

    <!--Big model-->
   <c-modal #fullScreen [fullscreen]="true" id="fullScreen">
    <c-modal-header>
        <h5 cModalTitle>Leaflet Map</h5>
        <button [cModalToggle]="fullScreen.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div id="map" style="height: 500px;"></div> <!-- Container for the Leaflet map -->
    </c-modal-body>
    <c-modal-footer>
        <button cButton [cModalToggle]="fullScreen.id">Close</button>
    </c-modal-footer>
</c-modal>

</div>