@import '~leaflet/dist/leaflet.css';
.side{
    margin-left: 1%;
}


.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    width: 100%;                     
  }
  
  .marker-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 20px;                
    flex-grow: 1;             
  }
  
  .marker-item {
    display: flex;
    flex-direction:row;  
    align-items: center;      
  }
  
  .marker {
    width: 30px;  
    height: auto; 
  }
  
  .marker-item span {
    margin-top: 0px;         
    font-size: 14px;         
    font-weight: bold;       
    text-align: center;      
  }
  
  c-modal-footer {
    padding: 10px;
  }
  
  
