.u-imag img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-left: 7rem;
}

c-col .citizen {
  width: 400px;
  border: 1px solid black;
  height: 250px;
}

.btn {
  margin: 10px;
}

c-card-body .image-show-modal {
  width: 700px;
  
  height: 400px;
  margin-left: 2rem;
  
}
