.u-imag img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-left: 7rem;
}

c-col .citizen{
    width: 350px;
    border: 1px solid black;
    height: 200px;
}

.btn{
    margin: 10px;
}