<c-container>
  <c-card class="p-5">
    <table bordered cTable hover class="text-center">
      <thead>
      <tr>
        <th scope="col">Buyer Name</th>
        <th scope="col">Seller Name</th>
        <th scope="col">Vehicle Type</th>
        <th scope="col">Vehicle Identification No</th>
        <th scope="col">Request Date</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let item of buyerAndSellerData">
        <td>{{item.buyerName}}</td>
        <td>{{item.sellerName}}</td>
        <td>{{getVehicleTypeName(item.vehicleType)}}</td>
        <td>{{item.vehicleIdentificationNo}}</td>
        <td>{{item.requestDate}}</td>
        <td>
          <button cButton color="secondary" [routerLink]="'/home/ownership-request-view'"
                  (click)="setSelectedOwnershipData(item)">View
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <c-pagination align="end" aria-label="Page navigation example mt-4">
      <li cPageItem>
        <a cPageLink [routerLink]="">Previous</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">1</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">2</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">3</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">Next</a>
      </li>
    </c-pagination>
  </c-card>
</c-container>

