<div class="mt-4">
  <form cForm [formGroup]="trainingDataForm">
    <c-row>
      <c-row class="mt-3">
        <label cLabel="col" class="col-sm-1">Brows :</label>
        <c-col [sm]="4">
          <input type="file" required cFormControl (change)="onFileChange($event)" />
        </c-col>
      </c-row>

      <c-row class="mt-3">
        <label cLabel="col" class="col-sm-1">K Value :</label>
        <c-col [sm]="4">
          <input type="number" cFormControl formControlName="kValue" />
          <div *ngIf="trainingDataForm.get('kValue')?.invalid && trainingDataForm.get('kValue')?.touched"
            class="text-danger">
            <div *ngIf="trainingDataForm.get('kValue')?.errors?.['required'] && trainingDataForm.get('kValue')?.touched"
              class="text-danger">
              Value must be greater than or equal to 0.
            </div>
          </div>
        </c-col>
      </c-row>

      <div class="mt-4">
        <button type="button" [cModalToggle]="verticallyCenteredScrollableModal.id" cButton color="success"
          (click)="onTrain()">Train</button>
        <button style="margin-left: 10px;" cButton color="primary" (click)="resetData()"> Reset Data</button>
      </div>
    </c-row>

    <!-- Modal to display logs -->
    <c-modal #verticallyCenteredScrollableModal [scrollable]="true" alignment="center"
      id="verticallyCenteredScrollableModal">
      <c-modal-header>
        <h5 cModalTitle>Train Data Logs</h5>
        <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div *ngIf="isLoading">Loading logs...</div>

        <!-- Display Storing Locations -->
        <div *ngIf="storingLocations.length > 0">
          <h3>Storing Locations</h3>
          <ul>
            <li *ngFor="let location of storingLocations">{{ location }}</li>
          </ul>
        </div>

        <!-- Display Spatial Correlations -->
        <div *ngIf="spatialCorrelations.length > 0">
          <h3>Spatial Correlations</h3>
          <ul>
            <li *ngFor="let correlation of spatialCorrelations">
              <strong>Location:</strong> {{ correlation.location }} <br>
              <strong>Correlations:</strong> {{ correlation.correlations.join(', ') }}
            </li>
          </ul>
        </div>

      </c-modal-body>
      <c-modal-footer>
        <button [cModalToggle]="verticallyCenteredScrollableModal.id" cButton color="secondary">
          Close
        </button>
      </c-modal-footer>
    </c-modal>
  </form>
</div>