<c-card>
  <c-card-header>
    Add New License
  </c-card-header>
  <c-card-body>
    <form cForm class="row g-2" cForm [formGroup]="form" (ngSubmit)="saveLicenseDetail()">
      <c-row>
        <c-col [md]="3">
          <label cLabel for="citizenshipNo">Citizenship No:<sup>*</sup></label>
          <input cFormControl id="citizenshipNo" formControlName="citizenshipNo" name="citizenshipNo" type="text"/>
        </c-col>

        <c-col [md]="3">
          <label cLabel for="validdate">Valid Date:<sup>*</sup></label>
          <input cFormControl id="validdate" formControlName="validDate" name="validDate" type="date"/>
        </c-col>

        <c-col [md]="3">
          <label cLabel>Vehicle Type:<sup>*</sup></label>
          <select aria-label="vehicleType" cSelect formControlName="vehicleType">
            <option value="0">Scooter</option>
            <option value="1">Bike</option>
            <option value="2">Car</option>
          </select>
        </c-col>

        <c-col [md]="3">
          <label cLabel for="district">District:<sup>*</sup></label>
          <input cFormControl id="district" formControlName="district" name="district" type="text"/>
        </c-col>
      </c-row>
      <c-col class="mt-3 mr-4" align="end">
        <button cButton color="primary" type="submit">Submit</button>
      </c-col>
    </form>
  </c-card-body>

  <c-card-footer>
    <form cForm class="row g-2" [formGroup]="searchForm" (ngSubmit)="getSearchLicense()">
      <c-row class="mt-4">
        <c-col [sm]="4">
          <input cFormControl type="search" placeholder="Searching" formControlName="searchValue" aria-label="Search"
                 class="me-2" #searchInput (input)="searchFieldValueCheck(searchInput.value)">
        </c-col>
        <c-col [sm]="1">
          <button type="submit" cButton color="success" variant="outline">Search</button>
        </c-col>
      </c-row>
    </form>
    <h5 align="center" class="mt-3">License Details</h5>
    <table bordered cTable hover class="text-center mt-3">
      <thead>
      <tr>
        <th scope="col">License No</th>
        <th scope="col">Vehicle Type</th>
        <th scope="col">Valid Date</th>
        <th scope="col">District</th>
        <th scope="col">Citizenship No</th>
        <th scope="col">Licensed User</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of licenseList">
        <td>{{item.licenseNo}}</td>
        <td>{{getVehicleTypeName(item.vehicleType)}}</td>
        <td>{{item.validDate}}</td>
        <td>{{item.district}}</td>
        <td>{{item.citizenshipNo}}</td>
        <td>{{item.licensedUserName}}</td>
      </tr>
      </tbody>
    </table>
    <c-pagination align="end" aria-label="Page navigation example mt-4">
      <li cPageItem>
        <a cPageLink [routerLink]="">Previous</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">1</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">2</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">3</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">Next</a>
      </li>
    </c-pagination>
  </c-card-footer>

</c-card>
