<c-card class="p-4">
    <c-card-body class="text-center ml"> 
<form>
    <c-row class="mb-3">
      <label cLabel="col" cCol [sm]="2" for="inputEmail3">
        Buyer Full Name:
      </label>
      <c-col [sm]="8">
        <input cFormControl id="inputEmail3" type="text" />
      </c-col>
    </c-row>
    <c-row class="mb-3">
      <label cLabel="col" cCol [sm]="2" for="inputPassword3">
       Buyer Mobile No:
      </label>
      <c-col [sm]="8">
        <input cFormControl id="inputPassword3" type="text" />
      </c-col>
    </c-row>

    <c-row class="mb-3">
        <label cLabel="col" cCol [sm]="2" for="inputPassword3">
         Buyer Mobile No:
        </label>
        <c-col [sm]="8">
          <input cFormControl id="inputPassword3" type="text" />
        </c-col>
      </c-row>

    <button cButton type="submit">Sign in</button>
  </form>
</c-card-body>
</c-card>