<c-card>
  <c-card-header>
    Add New License
  </c-card-header>

  <c-card-body>
    <form cForm class="row g-2" [formGroup]="form" (ngSubmit)="saveBlueBookData()">
      <c-row>
        <c-col [md]="4">
          <label cLabel for="citizenshipNo">Citizenship No:<sup>*</sup></label>
          <input cFormControl id="citizenshipNo" name="citizenshipNo" formControlName="citizenshipNo" type="text"/>
        </c-col>

        <c-col [md]="4">
          <label cLabel>Vehicle Type:<sup>*</sup></label>
          <select aria-label="vehicleType" cSelect formControlName="vehicleType">
            <option value="-1">Select vehicle type</option>
            <option value="0">Scooter</option>
            <option value="1">Bike</option>
            <option value="2">Three</option>
          </select>
        </c-col>

        <c-col [md]="4">
          <label cLabel for="vehicleIdentificationNo">Vehicle Identification No:<sup>*</sup></label>
          <input cFormControl id="vehicleIdentificationNo" name="vehicleIdentificationNo"
                 formControlName="vehicleIdentificationNo" type="text"/>
        </c-col>
      </c-row>
      <c-col class="mt-3 mr-4" align="end">
        <button cButton color="primary" type="submit">Submit</button>
      </c-col>
    </form>
  </c-card-body>

  <c-card-footer>
    <c-row class="mt-4">
      <c-col [sm]="4">
        <input cFormControl type="search" placeholder="Search" aria-label="Search" class="me-2">
      </c-col>
      <c-col [sm]="1">
        <button cButton color="success" variant="outline">Search</button>
      </c-col>
    </c-row>
    <h5 align="center" class="mt-3">Blue Book Details</h5>
    <table bordered cTable hover class="text-center mt-3">
      <thead>
      <tr>
        <th scope="col">License No</th>
        <th scope="col">Valid Date</th>
        <th scope="col">Licensed User</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      </tbody>
    </table>
    <c-pagination align="end" aria-label="Page navigation example mt-4">
      <li cPageItem>
        <a cPageLink [routerLink]="">Previous</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">1</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">2</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">3</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]="">Next</a>
      </li>
    </c-pagination>
  </c-card-footer>

</c-card>

