<c-card class="">
  <form>
    <c-row>
      <c-card-header class="text-center">
        <h3>Buyer Information</h3>
      </c-card-header>
      <c-col class="mt-5 ">
        <c-card-body class="u-imag">
          <img [src]="buyerProfilePicture" alt="buyer profile">
        </c-card-body>
      </c-col>

      <!-- next right card -->

      <c-col [sm]="6">
        <c-card-body>
          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="name">
              Name:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="name" type="text" [placeholder]="buyerAndSellerData.buyerName"/>
            </c-col>
          </c-row>

          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="contact">
              Contact:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="contact" readonly type="text"
                     [placeholder]="buyerAndSellerData.buyerMobileNumber"/>
            </c-col>
          </c-row>

          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="email">
              Email:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="email" readonly type="text" [placeholder]="buyerAndSellerData.buyerEmail"/>
            </c-col>
          </c-row>

          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="address">
              Address:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="address" readonly type="text" [placeholder]="buyerAndSellerData.buyerAddress"/>
            </c-col>
          </c-row>

          <!--     <c-row class="mb-3">
                 <label [sm]="2" cCol cLabel="col" for="citizenshipNo">
                   Citizenship No:
                 </label>
                 <c-col [sm]="10">
                   <input cFormControl id="citizenshipNo" plaintext readonly type="text"/>
                 </c-col>
               </c-row>-->


          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="userstatus">
              User Status:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="userstatus" readonly type="text" placeholder="Verified"/>
            </c-col>
          </c-row>

        </c-card-body>
      </c-col>
    </c-row>
  </form>


  <!-- buyer info -->
  <form>
    <c-row>
      <c-card-footer class="text-center">
        <h3>Seller Information</h3>
      </c-card-footer>
      <c-col class="mt-5 ">
        <c-card-body class="u-imag">
          <img [src]="sellerProfilePicture" alt="seller profile">
        </c-card-body>
      </c-col>

      <!-- next right card -->

      <c-col [sm]="6">
        <c-card-body>
          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="name">
              Name:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="name" type="text" [placeholder]="buyerAndSellerData.sellerName"/>
            </c-col>
          </c-row>

          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="contact">
              Contact:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="contact" readonly type="text"
                     [placeholder]="buyerAndSellerData.sellerMobileNumber"/>
            </c-col>
          </c-row>

          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="email">
              Email:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="email" readonly type="text" [placeholder]="buyerAndSellerData.sellerEmail"/>
            </c-col>
          </c-row>

          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="address">
              Address:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="address" readonly type="text" [placeholder]="buyerAndSellerData.sellerAddress"/>
            </c-col>
          </c-row>
          <!--
                    <c-row class="mb-3">
                      <label [sm]="2" cCol cLabel="col" for="citizenshipNo">
                        Citizenship No:
                      </label>
                      <c-col [sm]="10">
                        <input cFormControl id="citizenshipNo" readonly type="text"
                        />
                      </c-col>
                    </c-row>-->

          <c-row class="mb-3">
            <label [sm]="2" cCol cLabel="col" for="userstatus">
              User Status:
            </label>
            <c-col [sm]="8">
              <input cFormControl id="userstatus" readonly type="text" placeholder="Verified"/>
            </c-col>
          </c-row>

        </c-card-body>
      </c-col>
    </c-row>
    <c-row class="" align="end">
      <c-card-body>
        <button class="btn" color="success" cButton>Approved</button>
        <button color="danger" cButton>Reject</button>
      </c-card-body>
    </c-row>
  </form>
</c-card>
